@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;800&display=swap');

:root {
    --bg1: #101010;
    --bg2: #171717;
    --bg3: #262626;
    --bg4: #44403C;
    --tx1: #ccc9dcff;
    --tx2: rgb(156, 139, 255);
}

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--tx1);
    background-color: var(--bg1);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
}

a.link {
    font-weight: bold;
    color: var(--tx2);
    cursor: pointer;
}

.header {
    text-align: center;
    padding-top: 3em;
    font-size: 1.5em;

    h1 {
        font-size: 2em;
        margin: 8px;
        font-weight: 800;
    }


}

div#mainHead {
    font-size: 1.3em;
    font-weight: bold;
    margin: auto;
    margin-top: 1em;
}

div#toastdiv {
    position: absolute;
    bottom: 15vh;
    display: none;
    margin: auto;
    width: 100%;
    z-index: 99;
}

.toastInner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    width: fit-content;
    padding: 0.5rem 1rem;
    background: var(--bg2);
    border-radius: 1.5rem;
    box-shadow: 0 8px 1rem #00000085;
    margin: auto;
    cursor: pointer;
    transition: .2s;
}

@keyframes pop {
    0% {
        padding: 3px 5px;
    }
}


#sidebar {
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: .3s;
    border-right: 1px solid var(--box-crisp-col);
    width: 200px;
    height: 100%;

    & .actBtns {
        width: calc(100% - 2em);
    }
}

#sidebar .grid {
    gap: .2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: fit-content;

    .onebtn {
        padding: .2em 1em;
        border-radius: 2em;
        transition: .2s;
        width: calc(100% - 2.4em);
        background-color: transparent;
        justify-content: flex-start;

        a {
            font-size: 1em;
            transition: .5s;
            width: fit-content;
        }

        &:hover {
            a {
                transform: scale(1.2);
            }

            background-color: var(--bg2);
        }
    }
}

.grid {
    display: flex;
    flex-direction: column;
    gap: .2em;
    padding: 1em;
    width: fit-content;
    justify-content: flex-start;
    margin: 0 auto;
    justify-items: stretch;

    .onebtn {
        padding: .2em 1em;
        border-radius: 2em;
        transition: .5s;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;

        &.disabled {
            opacity: .3;
            pointer-events: none;
        }

        a {
            font-size: 1em;
            transition: .5s;
            margin: 1em;
        }

        &:hover {
            a {
                transform: scale(1.2);
            }

            background-color: var(--bg4);
        }

        &.active {
            background-color: var(--bg2) !important;
        }
    }
}

.disp {
    display: none !important;
}

#appRunner {
    flex: 1;
    height: 100%;
    overflow: hidden;
    transition: .3s;

    &>#mainframe {
        width: 100%;
        height: 100%;
        border: 0;
        background-color: var(--bg1);
        color: white;
    }
}

#loader {
    width: 50px;
    margin: 3em auto;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #514b82;
    animation:
        l20-1 0.8s infinite linear alternate,
        l20-2 1.6s infinite linear;
}

@keyframes l20-1 {
    0% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
    }

    12.5% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }

    62.5% {
        clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
    }
}

@keyframes l20-2 {
    0% {
        transform: scaleY(1) rotate(0deg)
    }

    49.99% {
        transform: scaleY(1) rotate(135deg)
    }

    50% {
        transform: scaleY(-1) rotate(0deg)
    }

    100% {
        transform: scaleY(-1) rotate(-135deg)
    }
}

#persohome {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 2em;
    height: 100%;
    justify-content: space-between;
    padding-bottom: 1em;
}

.modal {
    background-color: transparent;
    border: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    &>.modal-items {
        outline: 0;
        padding: 1em;
        border-radius: var(--siz-radius1);
        color: var(--col-txt1);
        background: var(--col-bg2);
        text-align: left;
        max-height: 80%;
        width: 80%;
        max-width: 280px;
        box-shadow: 0 0 10em #000000ba;
        border: var(--box-crisp);
        ;
        animation: pop var(----time1);
    }

}

.modal-items {
    outline: 0;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    overflow-y: auto;

    &>p {
        outline: 0;
    }

    &>h1 {
        margin: 0;
        border-bottom: 1px solid #80808082;
        padding-bottom: .5em;
    }

    & span.dangertext {
        color: inherit;
        font-weight: bold;
    }
}

.modal-items .button-container {
    gap: .5em;
    margin-top: .5em;
    display: flex;
}

.modal-items .modal-icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    opacity: .8;
    font-size: 2em;
}

.modal-items input {
    padding: .5em .8em;
    width: calc(100% - 1.7em);
    color: inherit;
    background: var(--col-bg1);
    border-radius: var(--siz-radius2);
    border: var(--box-crisp);
    ;
}

.modal-items p {
    text-align: left;
    overflow-wrap: normal;
    max-height: 40%;
    overflow: hidden auto;
    padding-right: 10px;
}

.modal-items select {
    background: var(--col-bgh);
    color: var(--col-txth);
    border-radius: var(--siz-radius2);
    padding: 0.5rem;
    outline: none;
    display: block;
    width: 100%;
    border: var(--box-crisp);
    ;
}

.modal-items button {
    padding: 8px 18px;
    background: var(--col-bg3);
    color: inherit;
    flex-grow: 1;
    cursor: pointer;
    border-radius: var(--siz-radius2);
    width: 100%;
    border: var(--box-crisp);
    ;
}

.modal-items button:focus {
    background: var(--col-bgh);
    color: var(--col-txth);
}

.modal-items .notbn {
    background: transparent;
}

.modal-items a {
    color: #71bbff;

    &[type="btn"] {
        padding: .5em;
        background-color: #ffffff1c;
        border: var(--box-crisp);
        border-radius: var(--siz-radius2);
        display: flex;
        color: var(--col-txt1);
        margin-top: .5em;
        cursor: pointer;
        justify-content: space-between;

        &>.material-symbols-rounded {
            opacity: .5;
            font-size: 20px;
        }
    }
}

.actBtns {
    background: var(--col-bg2);
    border: var(--box-crisp);
    border-radius: var(--siz-radius1);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;

    &>.btn {
        padding: 5px;
        display: flex;
        flex: 1;
        justify-content: center;
        cursor: pointer;

        &>i {
            opacity: .7;
        }

        &:hover>i {
            opacity: 1;
        }
    }

    &>.divider {
        height: 80%;
        background-color: var(--box-crisp-col);
        width: 1px;
    }
}

dialog#settings {
    aspect-ratio: 9 / 6;
    width: 80%;
    max-height: 80%;
    border-radius: 1em;
    border: 0;
    background-color: var(--bg2);
    border: var(--box-crisp);
    box-shadow: 0 5px 1em #000000ab;
    color: white;
    outline: none;
    padding: 1.5em;

    &>.dianav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-bottom: .5em;
        border-bottom: 1px solid var(--box-crisp-col);
        align-items: center;
        font-size: 1.5em;

        &>.closebtn {
            padding: .5em;
            display: flex;
            font-size: 20px;
            background-color: var(--bg3);
            border-radius: 2em;
            cursor: pointer;
        }
    }
}

.abtblk {
    background-color: var(--bg1);
    border-radius: var(--siz-radius1);
    padding: 1em;
    margin-top: 1em;
}