.main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    gap: .5em;
    justify-content: flex-start;

    &>.listSection {
        background: var(--col-bg2);
        padding: .5em;

        &>.label {
            margin: 5px;
            margin-top: 1em;
            opacity: .5;
        }

        &>#mailList {
            display: flex;
            flex-direction: column;
            gap: .2em;
            min-width: 200px;

            &>.singMail {
                padding: .5em;
                cursor: pointer;

                &>.title {
                    margin: 5px 0;
                    font-size: 1.1em;
                }

                &:hover {
                    border-radius: var(--siz-radius1);
                    background-color: var(--col-bg3);
                }
            }
        }
    }
}

.divider {
    background-color: var(--box-crisp-col);
    height: 1px;
    width: 80%;
    margin: 0 auto;
}


.mailuserdata {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    transition: .3s ease-in-out;
    z-index: 5;
    position: relative;
    align-items: center;
    justify-content: flex-start;
}

.mailuseravatar {
    width: 40px;
    height: 40px;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.mailuseravatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--siz-radius2);
}

.mailtimestamp {
    font-size: 80%;
    opacity: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}