@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@font-face {
    font-family: 'Material Symbols Rounded';
    font-style: normal;
    src: url("https://adthoughtsglobal.github.io/assets/MaterialSymbolsRounded.woff2") format('woff2');
}

:root {
    --dull-bg: #000000;
    --main-bg: #101010;
    --main-bg2: #1e1e1e;
    --high-bg: #33363b;
    --box-crisp: 1px solid #393b41;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--dull-bg);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--high-bg);
}

* {
    scrollbar-width: thin;
    scrollbar-color: #ffffffab transparent;
}

.symb {
    font-family: 'Material Symbols Rounded';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    display: inline-block;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: var(--dull-bg);
    color: white;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    font-family: "IBM Plex Sans", sans-serif;
    overflow: hidden;
}


.session {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.server_data {
    width: 200px;
}

.top_panel {
    width: 100%;
    background-color: var(--main-bg2) !important;
    padding: .8em;

    &.profile_card {
        padding: 3.5px;
    }
}

.profile_card {
    width: 200px;
    display: flex;
    gap: .5em;
    flex-grow: 0;
    align-items: center;
    transition: .2s;
    background-color: inherit;
    cursor: pointer;

    &.offline {
        opacity: .5;
    }

    &:hover {
        filter: brightness(140%);
    }

    &>.pfp {
        aspect-ratio: 1/1;
        height: 40px;
        border-radius: .5em;
        background-color: #ffffff5a;
    }

    &>.data {
        &>.status {
            font-size: small;
        }

        &>.name {
            display: flex;
            gap: .3em;
            align-items: center;

            &>.role-pill {
                font-size: 1em;
                color: #ffba00;
            }
        }
    }
}

.server_ui {
    display: inherit;
    flex-direction: row;
    flex: 1;
    height: 0;

    &>.channels,
    &>.members_list {
        width: 200px;
        background-color: var(--main-bg);
    }

    &>.channels,
    &>.members_list,
    &>.feed>#msgs_list {
        overflow: hidden;
        overflow-y: auto;
    }

    & .members_lists {
        display: flex;
        flex-direction: column;
        padding: .5em;
        gap: .5em;

        &>.sublist_title {
            font-size: small;
            margin: .5em 0;
            opacity: .5;
            text-transform: uppercase;
        }
    }

    & #channels {
        padding: .5em;

        &>hr {
            outline: 0;
        }

        &>.single_chnl {
            display: flex;
            gap: .3em;
            align-items: center;
            padding: .3em;
            border-radius: .5em;
            background-color: inherit;
            cursor: pointer;
            background-color: var(--main-bg);
            position: relative;

            &>.badge {
                position: absolute;
                right: 5px;
                background: white;
                border-radius: 1em;
                display: flex;
                color: black;
                font-family: monospace;
                padding: 6px;
                height: 10px;
                font-size: 16px;
                width: 10px;
                align-items: center;
                justify-content: center;
            }

            &:hover {
                filter: brightness(140%);
            }

            &.active {
                background: var(--main-bg2);
            }

            &>.symb {
                font-size: 1.2em;
                opacity: .7;
            }
        }
    }

    .feed {
        flex: 1;
        display: flex;
        width: 0;
        flex-direction: column;

        &>div#replyPrompt {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: .3em .5em;
            background: var(--high-bg);
            border-radius: .5em .5em 0 0;
            margin: 0 1em;
            align-items: center;

            &.hidden {
                display: none;
            }

            &>div {
                white-space: nowrap;
                display: flex;
                flex-direction: row;
                gap: 5px;
                align-items: center;

                &>#replyun {
                    background: #0069ff3d;
                    padding: 1px 5px;
                    border-radius: .5em;
                    border: 1px solid #48749e;
                    color: #b5dbff;
                }
            }

            &>.symb {
                background-color: #ffffff38;
                border-radius: .3em;
                font-size: 18px;
                display: flex;
                align-items: center;
                cursor: pointer;
            }
        }

        &>.msg_area {
            width: calc(100% - 1em);
            display: flex;
            background: var(--main-bg);
            border-radius: .5em;
            margin: 0em .5em;
            margin-bottom: .5em;

            &>input {
                width: 100%;
                background-color: transparent;
                color: inherit;
                font: inherit;
                font-size: inherit;
                border: 0;
                padding: .7em 1em;
                outline: 0;
            }
        }
    }
}

#msgs_list {
    flex: 1;
    padding: 1em 0;
    scroll-padding: 0;
    padding: 1em .5em;
}

.sing_msg {
    display: flex;
    flex-direction: column;
    border-radius: .5em;
    margin-top: .5em;
    position: relative;

    &.replyingto {
        background-color: #131420;
    }

    &.extra {
        margin-top: 0;
    }

    &>.reply-excerpt {
        opacity: .7;
        overflow: hidden;
        width: calc(100% - 50px);
        white-space: nowrap;
        text-overflow: ellipsis;
        align-items: center;
        padding-left: 24px;
        gap: 5px;
        display: flex;

        &>.reply-preview {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &>.msg_ctnt {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 3px 5px;
        gap: .5em;
        position: relative;

        &.extra {
            align-items: center;
            margin-top: 0;
        }

        &>.pfp {
            aspect-ratio: 1/1;
            width: 40px;
            border-radius: .5em;
        }

        &>.time {
            width: 40px;
            font-size: 10px;
            opacity: 0;
        }

        &>.data {
            width: 0;
            flex: 1;
            transition: filter .5s;

            & img {
                display: flex;
                max-width: 100%;
                max-height: 260px;
                object-fit: contain;
                border-radius: .5em;
                border: var(--box-crisp);
                margin: .5em 0;
            }

            &>.header {
                display: flex;
                flex-direction: row;
                gap: .5em;
                align-items: center;

                &>.name {
                    color: white;
                }

                &>.time {
                    opacity: .5;
                    font-size: small;
                }
            }

            &>p {
                margin: 0;

                & a {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 100%;
                    display: block;
                    color: dodgerblue;
                }
            }
        }
    }


    .msg_actions {
        position: absolute;
        right: .5em;
        background: var(--main-bg);
        border: var(--box-crisp);
        border-radius: .5em;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        overflow: hidden;
        visibility: hidden;
        top: -12px;

        &>.button {
            font-size: 20px;
            padding: 5px;
            cursor: pointer;

            &:hover {
                background-color: #ffffff0c;
            }
        }
    }

    &:hover {
        background-color: #ffffff0c;

        &>.msg_actions {
            visibility: visible;
        }

        &>.time {
            opacity: .5;
        }
    }
}

hr {
    opacity: .2;
    height: 1px;
    background: white;
    border: 0;
}


.rplarrow {
    display: flex;
    width: 20px;
    height: 20px;
    transform: translateY(10px);
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    border-top-left-radius: .5em;
}

.loader {
    height: 50px;
    aspect-ratio: 2;
    border: 10px solid #000;
    transform: scale(0.5);
    box-sizing: border-box;
    background:
        radial-gradient(farthest-side, #fff 98%, #0000) left/20px 20px,
        radial-gradient(farthest-side, #fff 98%, #0000) left/20px 20px,
        radial-gradient(farthest-side, #fff 98%, #0000) center/20px 20px,
        radial-gradient(farthest-side, #fff 98%, #0000) right/20px 20px,
        #000;
    background-repeat: no-repeat;
    filter: blur(4px) contrast(10);
    animation: l14 1s infinite;
}

@keyframes l14 {
    100% {
        background-position: right, left, center, right
    }
}

#orion {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: #000000;
    align-items: center;
    justify-content: center;
    gap: 1em;
    font-size: 3em;
    animation: orion 15s infinite ease-in-out;
}

@keyframes orion {
    50% {

        letter-spacing: 10px;
        text-shadow: 0 0 10px white;
    }
}

.lazier_loader {
    & .feed {
        & .data {
            filter: contrast(0);
            background: #000000;
            border-radius: 1em;
            opacity: .1;
        }

        & .pfp {
            filter: contrast(0);
            opacity: .2;

        }

        & .reply-excerpt {
            filter: contrast(0);

            &>span {
                background-color: #000;
                opacity: .2;
                filter: contrast(0);
                border-radius: 1em;
            }
        }
    }

}

@media only screen and (max-width: 500px) {
    .members_list {
        width: 20px !important;
        &:hover {
            width: 200px !important;
        }
    }

    .channels {
        width: 20px !important;

        &:hover {
            width: 200px !important;
        }
    }
}