body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
    padding: 1em;
    border: var(--box-crisp);
    width: calc(100vw - 2em);

    &>.subcard {
        background-color: var(--col-bg2);
        padding: .5em;
        margin-top: 1em;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: fit-content;

        & .label {
    opacity: .5;
    font-size: .8em;
    text-decoration: underline;
    text-underline-offset: 2px;
}

        &>p {
            margin: 0;
             & img {
    object-position: center center;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    height: 13px;
    width: 13px;
}
        }
    }

   
}
.profhead {
    position: relative;
    width: 100%;
    border-radius: 1em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: fit-content;
    padding-top: 2em;
}
#prof_name {
    font-size: 2em;
    padding-bottom: .3em;
    margin-bottom: .5em;
    border-bottom: 1px solid var(--box-crisp-col);
}

#prof_pfp {
    width: 8em;
    border-radius: 2em;
    border: var(--box-crisp);
    margin-bottom: .5em;
}

#prof_more {    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;
    justify-content: center;
    & i.material-symbols-rounded {
        font-size: 15px;
    }
}

#prof_banner {
    height: 7em;
    background: purple;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.sing_badge {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
    background-color: var(--col-bg3);
    border-radius: .5em;
    margin: .2em;
    padding: 5px 5px;
}


#loader {
    width: 50px;
    margin: 3em auto;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid var(--col-bgh);
    animation:
        l20-1 0.8s infinite linear alternate,
        l20-2 1.6s infinite linear;
}

@keyframes l20-1 {
    0% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
    }

    12.5% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }

    62.5% {
        clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
    }
}

@keyframes l20-2 {
    0% {
        transform: scaleY(1) rotate(0deg)
    }

    49.99% {
        transform: scaleY(1) rotate(135deg)
    }

    50% {
        transform: scaleY(-1) rotate(0deg)
    }

    100% {
        transform: scaleY(-1) rotate(-135deg)
    }
}

#glloader {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--col-bg1);
}

.special {
  font-weight: 800;
  background: linear-gradient(90deg, #9a5fff, #d400ff, #ff3cac, #00b7ff, #b082ff);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: slide 2.5s linear infinite alternate;
  text-shadow: 0 0 20px rgba(255, 0, 255, 0.6);
}

@keyframes slide {
  0% { background-position: 0% }
  100% { background-position: 100% }
}