body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow-y: auto;
    padding: 1em;
    border: var(--box-crisp);
    width: calc(100vw - 2em);

    &>.subcard {
        background-color: var(--col-bg2);
        padding: .5em;
        margin-top: 1em;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: fit-content;

        & .label {
    opacity: .5;
    font-size: .8em;
    text-decoration: underline;
    text-underline-offset: 2px;
}

        &>p {
            margin: 0;
             & img {
    object-position: center center;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    height: 13px;
    width: 13px;
}
        }
    }

   
}
.profhead {
    position: relative;
    width: 100%;
    border-radius: 1em;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: fit-content;
    padding-top: 2em;
}
#prof_name {
    font-size: 2em;
    padding-bottom: .3em;
    margin-bottom: .5em;
    border-bottom: 1px solid var(--box-crisp-col);
}

#prof_pfp {
    width: 8em;
    border-radius: 2em;
    border: var(--box-crisp);
    margin-bottom: .5em;
}

#prof_more {    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: .5em;
    justify-content: center;
    & i.material-symbols-rounded {
        font-size: 15px;
    }
}

#prof_banner {
    height: 7em;
    background: purple;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
}

.sing_badge {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
    background-color: var(--col-bg3);
    border-radius: .5em;
    margin: .2em;
    padding: 5px 5px;
}