 button,
 input,
 textarea {
     outline: none;
     font-family: inherit;
     font-size: inherit;
     color: inherit;
 }

 button {
     cursor: pointer;
 }

 body {
     padding: 0.3rem;
     background-color: var(--col-bg1);
     color: var(--col-txt1);
     font-family: 'Poppins', sans-serif;
     user-select: none;
     height: calc(100% - 10px);
 }

 * {
     text-overflow: ellipsis;
 }

 #main {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     height: 100%;
     gap: 0.5rem;
 }

 #main #feedsection,
 #main #toolsection {
     width: 0;
     transition: .3s;
 }

 #main #feedsection {
     flex: 3;
     display: flex;
     flex-direction: column;
 }

 #main #toolsection {
     flex: 1;
     max-width: 500px;
     display: flex;
     flex-direction: column;
     gap: 0.5rem;
 }

 .crtaccdisp {
     display: flex;
     flex-direction: row;
     background: var(--col-bg2);
     border: 1px solid #ffffff0f;
     box-shadow: 0 3px 1rem #00000018;
     border-radius: var(--siz-radius1);
     padding: 0.5rem;
     gap: 0.3rem;
 }

 .crtaccdisp img {
     aspect-ratio: 1 / 1;
     height: 25px;
     border-radius: var(--siz-radius1);
 }

 .crtaccdisp span {
     opacity: 0.5;
     font-size: small;
 }

 .searchsection button {
     background: transparent;
     border: none;
     padding: 0;
     color: inherit;
     opacity: 80%;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .navtools {
     background: var(--col-bg2);
     border: 1px solid #ffffff0f;
     box-shadow: 0 3px 1rem #00000018;
     padding: 0.3rem;
     border-radius: var(--siz-radius1);
     display: flex;
     flex-direction: row;
     align-items: center;
 }

 .feed,
 #postReplies {
     display: flex;
     flex-direction: column;
     overflow-y: auto;
     gap: 0.5rem;
     flex: 1;
     padding: 0.3rem;
 }

 #feed {
     display: flex;
     flex-direction: column;
     gap: 0.5rem;
     flex: 1;
 }

 #postReplies {
     margin-bottom: 0.5rem;
 }

 .randompost,
 #targetpost {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     background: var(--col-bg2);
     border: 1px solid #ffffff0f;
     padding: 1rem;
     border-radius: var(--siz-radius1);
     animation: pop .3s;
     box-shadow: 0 3px 1rem #00000018;
 }

 .more {
     opacity: 0;
     transition: .3s;
 }

 .randompost:hover .more {
     opacity: 0.7;
 }

 .postnav {
     height: 45px;
     width: fit-content;
     max-width: 100%;
     overflow: hidden;
 }

 .postuserdata {
     display: flex;
     flex-direction: row;
     gap: 0.5rem;
     transition: .3s ease-in-out;
     z-index: 5;
     position: relative;
     cursor: pointer;
     align-items: center;
     justify-content: flex-start;
     
        &>* {
            transition: .3s;
        }

     &:hover {
        background-color: var(--col-bg3);
        border-radius: var(--siz-radius2);
     gap: 0.3rem;
        &>* {
            scale: .9;
        }
     }
 }

 .postuseravatar {
     width: 40px;
     height: 40px;
     aspect-ratio: 1 / 1;
     overflow: hidden;
 }

 .postuseravatar img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: var(--siz-radius2);
 }

 .postfooter {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     width: 100%;
     align-items: center;
 }

 .postfooter .likes ion-icon {
     color: #ff9a9a;
 }

 .postfooter .replies ion-icon {
     color: #9afcff;
 }

 .postcontent {
     font-size: 110%;
     margin: 0.7rem 0px;
     overflow-x: auto;
     text-overflow: unset;
     width: 100%;
 }

 .more button {
     border-radius: 10px;
     padding: 4px 10px;
     background: #161616;
     border: none;
     color: inherit;
     font-size: 80%;
 }

 .likes,
 .replies {
     background: var(--col-bg3);
     border: 1px solid #ffffff0f;
     box-shadow: 0 3px 1rem #00000018;
     display: flex;
     padding: 5px 8px;
     border-radius: var(--siz-radius1);
     cursor: pointer;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     gap: 5px;
 }

 .likes span,
 .replies span {
     font-size: 80%;
 }

 .posttimestamp {
     font-size: 80%;
     opacity: 70%;
     white-space: nowrap;
     overflow: hidden;
     text-overflow: ellipsis;
 }

 nav#nav {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     opacity: 0.7;
     padding: 0.3rem;
     width: calc(100% - 20px);
     overflow: hidden;
 }

 #postinput {
     background-color: transparent;
     border: none;
     width: 100%;
     min-width: 0;
     max-height: 70vh;
     font-size: 130%;
     height: 150px;
     resize: none;
 }

 .postmsgsection {
     background: var(--col-bg2);
     border: 1px solid #ffffff0f;
     box-shadow: 0 3px 1rem #00000018;
     display: flex;
     padding: 0.5rem;
     flex-direction: column;
     align-items: center;
     gap: 0.5rem;
     border-radius: var(--siz-radius1);
 }

 button.postbtn {
     background: #4e5fa7 !important;
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 4px;
     border: none;
     padding: 3px 10px;
     border-radius: var(--siz-radius1);
     padding-right: 5px;
 }

 @keyframes pop {
     from {
         opacity: 0;
         transform: translateY(0.5rem);
     }

     to {
         opacity: 1;
         transform: none;
     }
 }

 .profileseperator {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     align-items: stretch;
     gap: 1rem;
 }

 img#pfpuserdet {
     border-radius: var(--siz-radius1);
     height: 120px;
     object-fit: cover;
 }

 .userdata {
     display: flex;
     gap: 0.5rem;
     flex-direction: column;
 }

 .userdatatext {
     display: flex;
     flex-direction: column;
 }

 h2#undispusdat {
     margin: 0;
     font-weight: normal;
     font-size: 2rem;
 }

 p#postsnoteaser {
     margin: 0;
     opacity: 0.5;
     font-size: 1rem;
 }

 .userdatabtns {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     gap: 0.5rem;
 }

 .primebtn {
     background-color: #2f2f2f;
     padding: 0.3rem 0.8rem;
     border-radius: var(--siz-radius1);
     display: flex;
     align-items: center;
     gap: 0.3rem;
     cursor: pointer;
 }

 .primebtn button {
     background: transparent;
     border: none;
     padding: 0;
     font-size: inherit;
     font-family: inherit;
 }

 .primebtn span {
     padding-left: 7px;
     opacity: 0.7;
     padding-top: 2px;
     font-size: 0.7rem;
     border-left: 1px solid lightblue;
 }

 .active.primebtn {
     background: #4e5fa7;
 }

 .modalnav {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin-bottom: 0.5rem;
     background: #2f2f2f;
     padding: 0.5rem;
     border-radius: var(--siz-radius1);
     align-items: center;
 }

 .modalnav .navsubgrp {
     display: flex;
     align-items: center;
     gap: 0.3rem;
 }

 .ion-icon {
     font-size: 1rem;
 }

 .feedswitcher {
     display: flex;
     flex-direction: row;
     gap: 0.5rem;
     align-items: center;
 }

 .feedsnav {
     display: flex;
     flex-direction: column;
     flex-wrap: nowrap;
     align-items: flex-start;
 }

 button.morebtn {
     background: transparent;
     border: none;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 0.5rem;
     margin-top: 2rem;
 }

 button.morebtn .loader {
     height: 8px;
     width: 20px;
     border: 1px solid lightgrey;
 }

 img.postimg {
     display: block;
     width: fit-content;
     height: 200px;
     border: none;
     border-radius: var(--siz-radius1);
     outline: none;
     background: linear-gradient(325deg, #3e97826e, #5f7bff7a);
     margin-top: 0.5rem;
     object-fit: scale-down;
 }

 .feedsnav button {
     background: transparent;
     border: none;
     padding: .5em .8em;
     border-radius: var(--siz-radius1);
     font-size: 1.2em;
 }

 .morepstclosebtn {
     border: none;
     padding: 0.2rem 0.5rem;
     border-radius: var(--siz-radius1);
     background: var(--col-bg2);
     border: 1px solid #ffffff0f;
     box-shadow: 0 3px 1rem #00000018;
     display: flex;
     flex-direction: row;
     gap: 0.3rem;
     align-items: center;
     margin-bottom: 0.5rem;
 }

 .feedsnav button.active {
     background: var(--col-bg2);
     border: 1px solid #ffffff0f;
     box-shadow: 0 3px 1rem #00000018;
 }

 .postuserdata:hover && .postuserdata {
     color: #4e5fa7;
 }

 .buttonlike {
     animation: slidein .2s;
 }

 @keyframes slidein {
     from {
         transform: translateY(0.5rem);
         opacity: 0;
     }

     to {
         transform: translateY(0);
         opacity: 1;
     }
 }

 .novaos {
     background: linear-gradient(45deg, purple, lightblue);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
     background-clip: text;
     text-fill-color: transparent;
 }

 .likestatuses {
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 0.3rem;
 }

 .wholikedhint {
     opacity: 0.5;
     font-size: smaller;
     display: flex;
     margin-left: 0.3rem;
 }

 .loader {
     width: 60px;
     height: 25px;
     border: 2px solid;
     box-sizing: border-box;
     border-radius: 50%;
     display: grid;
     animation: l2 2s infinite linear;
 }

 .loader:before,
 .loader:after {
     content: "";
     grid-area: 1/1;
     border: inherit;
     border-radius: 50%;
     animation: inherit;
     animation-duration: 3s;
 }

 .loader:after {
     --s: -1;
 }

 @keyframes l2 {
     100% {
         transform: rotate(calc(var(--s, 1)*1turn))
     }
 }

 div#loadingclaw {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     gap: 3rem;
     background: var(--col-bg1);
     z-index: 100;
 }

 dialog#moreOnPost {
     width: 100%;
     height: calc(100% - 1rem);
     margin: 0;
     padding: 20px;
     padding-bottom: 1rem;
     background: var(--col-bg1);
     border: 0;
     border-radius: 0;
     color: white;
 }

 .replybox {
     background: var(--col-bg2);
     border: 1px solid #ffffff0f;
     box-shadow: 0 3px 1rem #00000018;
     border-radius: var(--siz-radius1);
     display: flex;
     padding: 0.3rem;
     flex-direction: row;
     justify-content: space-between;
 }

 .replybox input {
     flex: 1;
     padding: 0.3rem;
     background-color: transparent;
     font-size: 1rem;
     border: 0;
 }

 .replybox button {
     background-color: #4e5fa7;
     color: white;
     border: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: var(--siz-radius1);
     padding: 0.3rem 0.7rem;
 }

 h2 {
     opacity: 0.5;
     font-size: 1rem;
     font-weight: normal;
 }

 .postsubfoot {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     gap: 0.5rem;
     flex-wrap: wrap;
     width: 100%;
 }

 .postsubfoot .grp {

     display: flex;
     flex-direction: row;
     gap: 0.3rem;
 }

 .postsubfoot .grp button {
     display: flex;
     flex-direction: row;
     background: #ffffff12;
     align-items: center;
     gap: 0.3rem;
     padding: .5em .8em;
     border: 0;
     border-radius: var(--siz-radius2);
 }